
<div>
  <p>Nombre del Empleado:{{nombre}}</p>
  <p>Edad:{{edad}}</p>
  <p *ngIf="edad>=18; else menor">Es mayor de edad.</p>
  <ng-template #menor><p>Es un menor de edad.</p></ng-template>
  <p>Los últimos tres sueldos son: {{sueldos[0]}}, {{sueldos[1]}} y {{sueldos[2]}}</p>
  <table border="1">
    <tr>
      <td>sueldos</td>
    </tr>
    <tr *ngFor="let sueldo of sueldos">
      <td>{{sueldo}}</td>
    </tr>
  </table>
  <p>En los últimos 3 meses ha ganado: {{ultimos3Sueldos()}}</p>
  <p>{{esActivo()}}</p>
</div>
<hr>
<h3>6 captura de eventos</h3>
<div>
  <p>{{contador}}</p>
  <button (click)="incrementar()">Sumar 1</button>
  <button (click)="decrementar()">Restar 1</button>
</div>
<br>
<hr>
<h3>directiva de modelo ngModel</h3>
<input type="text" [ngModel]="nombre">
<hr>
<h3>directiva de modelo ngModel cambia todo</h3>
<input type="text" [(ngModel)]="nombre">
